{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

<h1>CREER UN COMPTE</h1>

<form method="post">
    <label for="name">Nom</label>
    <input type="text" id="nom" name="nom"/>

    <label for="prenom">Prénom</label>
    <input type="text" id="prenom" name="prenom"/>

    <label for="dateNaissance">Date de naissance</label>
    <input type="date" id="dateNaissance" name="dateNaissance"/>

    <label for="login">Login</label>
    <input type="text" id="login" name="login"/>

    <label for="ville">Ville</label>
    <input type="text" id="ville" name="ville"/>

    <label for="CP">Code postal</label>
    <input type="text" id="CP" name="CP"/>

    <label for="email">Email</label>
    <input type="text" id="email" name="email"/>

    <label for="password">Mot de passe:</label>
    <input type="password" id="password" name="password"/>

    <label for="portfolio">Portfolio</label>
    <input type="text" id="portfolio" name="portfolio"/>

    <button class="btn btn-primary"type="submit">Valider</button>
</form>

{% endblock %}