{% extends 'base.html.twig' %}

{% block body %}
	<div>
		<div class="jumbotron" style="background-color: #CC4B2C;">
			<center>
				<br>
				<h1 style="color:white">Bienvenue sur Hackat'Web</h1>
			</center>
		</div>

		<div class="container" style="margin-top: 100px;">
			<div class="col col-lg-3 col-md-4 col-sm12">
				<div class="card" style="width:30rem">
					<div class="card-body">
						<h4 class="card-title">Liste des hackathons</h4>
						<a href="{{path('liste')}}" class="btn btn-primary">Voir plus</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
