{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}


	<div class="jumbotron">
		<center>
			<br>
			<h1>Bienvenue sur Hackat'Web</h1>
		</center>
	</div>
	<div class="row" style="margin-top: 100px;">
		<div class="col col-lg-3 col-md-4 col-sm12">
			<div class="card" style="width:30rem">
				<div class="card-body">
					<h4 class="card-title">Liste des hackathons</h4>
					<a href="/liste" class="btn btn-primary">Voir plus</a>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
